

:root{
  --primaryTextDark: #242424;
  --primaryBgColor: #eee;
}

body{
  margin: 0;
  color: var(--primaryTextDark);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
  display: block;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  border: none;
}
#loader{
  position: fixed;
  z-index: 100000000;
  inset: 0;
  background-color: #24242463;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader .spinner{
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #fefefe;
  border-bottom: 3px solid transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from{
    transform: rotateZ(0deg);
  }to{
    transform: rotateZ(360deg);
  }
}
#form-modal{
  position: fixed;
  z-index: 99999;
  inset: 0 0 0 0;
  background-color: #00000029;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/public/images/eco-design.webp');
  background-position: center;
  background-size: cover;
}
.form-container{
  width: min(500px,85%);
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--primaryBgColor);
}
.form-container label{
  display: block;
  position: relative;
  padding: 0.5rem 0.8rem;
  margin: 2rem auto 0;
  font-size: 1rem;
  border-bottom: 2px solid grey;
}
.form-container label > span{
  position: absolute;
  left: .5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: .3s ease;
  color: rgb(173, 173, 173);
  pointer-events: none;
  line-height: 1;
}
.form-container label input:focus ~ span {
  top: 0;
  left: .3rem;
  font-size: 0.8rem;
}
.form-container input{
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  resize: vertical;
}

.form-container input:focus + span{
  top: 0px;
  font-size: 16px;
  color: #525252;
  font-weight: bold;
}

.form-container .submit {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.pass-show-hide{
  width: 20px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}
.submit-btn{

}

.error-message{
  text-align: left;
  color: rgb(247, 70, 39);
  margin-top: 5px;
}
.success-message{
  text-align: left;
  color: rgb(4, 179, 4);
}

#dashboard .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}